@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --content: #ececec;
    --button: #242424;
    --buttonText: #d4d4d4;

    --textClash: #03B571;
    --contentClash: #e7e7e7;
    --buttonClash: #d3d3d3;
    --buttonTextClash: #B65887;

    --textNirvana: #812F23;
    --contentNirvana: #F0E9A5;
    --buttonNirvana: #E2DD9B;
    --buttonTextNirvana: #5e5c3c;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #2f2f2f;
    background-color: #2f2f2f;
}

.container-fluid {
    height: 100vh;
}

.content {
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.845);
    min-height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--content);
    font-family: 'Roboto Mono', 'Arial', sans-serif;
}

#choices {
    display: flex;
    flex-direction: column;
}

#clash {
    margin-top:1em;
}

#questionText {
    font-size: 1.3em;
    text-transform: uppercase;
}

.answers {
    display: flex;
    flex-direction: column;
}

button {
    text-transform: uppercase;
    background-color: var(--button);
    color: var(--buttonText);
    padding: 1em;
    border: solid 2px var(--button);
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: bold;
}



.green-glow {
    box-shadow: 0 0 30px #00ff00; 
}

.red-glow {
    box-shadow: 0 0 30px red; 
}

.hide {
    display: none!important;
}

/*the clash style*/
.clashStyle {
    color:var(--textClash);
}

.clashStyle .content {
    background-color: var(--contentClash);
}

.clashStyle button {
    background-color: var(--buttonClash);
    color: var(--buttonTextClash);
    border: solid 2px var(--buttonClash);
}



/*nirvana style*/
.nirvanaStyle {
    color:var(--textNirvana);
}

.nirvanaStyle .content {
    background-color: var(--contentNirvana);
}

.nirvanaStyle button {
    background-color: var(--buttonNirvana);
    color: var(--buttonTextNirvana);
    border: solid 2px var(--buttonNirvana);
}


/*pour que le hover effect soit pas sur les appareils tactiles (sinon une fois que le bouton a été cliqué il reste en etat hover sur la prochaine question*/
@media (hover: hover) {
    button:hover {
        background-color: transparent;
        color: var(--button);
        transition: all 0.2s;
    }
    
    .clashStyle button:hover {
        background-color: transparent;
        color: var(--textClash);
        transition: all 0.2s;
    }
    .nirvanaStyle button:hover {
        background-color: transparent;
        color: var(--textNirvana);
        transition: all 0.2s;
    }
}

/*pour pas qu'il soit centré verticalement en mode portrait ça evite d'avoir un scroll inutile à l'affichage des resultats*/
@media (orientation: portrait) {
    .content {
        position: absolute;
        top : 2em!important;
    }
    
}